@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
}

/* Mobile First */
/* Clases reutilizables */

body {
    animation: fadeInAnimation ease .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Header */
header{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.headerBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
.headerLogo{
    margin-left: 40px;
}
.headerBox img{
    width: 90px;
}
  
  nav {
    position: absolute;
    right: 0;
    margin-right: 60px;
    z-index: 1000; }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;}
      nav ul li {
        line-height: 30px;
        padding-top: 40px;}
        nav ul li a {
          font-size: 20px;
          position: relative;
          color:#323851;}

          #check:checked ~ ul {
            left: 0; }
            
.headerBox button{
    display: none;
}
          
  a:link {
    text-decoration: none; }
  
/* Menu Hamburguesa */    
  .checkbtn {
    font-size: 25px;
    color:#323851;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: block; }
  
  #check {
    display: none; }
  
  nav a:hover::before {
    transform: scaleX(1); }



.gralButton{
    background-color:#8B48BF;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    height: 44px;
    width: 110px;
        }
        .gralButton a{
            color: white;
            display: block;
            padding-top: 10px;
            height: 40px;
            width: 110px;
        }

.altButton{
    background-color:white;
    border: none;
    border-radius: 25px;
    color:#8B48BF;
    font-size: 15px;
    height: 44px;
    width: 134px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0, .2));
}

.mainButton{
    display: flex;
    justify-content: right;
    margin-top: 25px;
}

.mainInfo{
    margin-top: 40px;
    flex-basis: 30%;
}
.infoTitle{
    height: fit-content;
    gap: 30px;
}
    .infoTitle h2{
        color:#8B48BF;
        font-size: 40px;
        font-weight: 700;
        padding: 0 40px;
        text-align: center;
    }

.mainEnd{ 
    align-items: center;
    background-color: #8C48BF;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.endTitle h2{
    color: white;
    padding: 60px 0;
    font-size: 5vw;
    font-weight: 700;
}
/* Formulario */

.mainForm{
    display: flex;
    flex-direction: column;
 }

 .formContBox{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
 }
 .formContBox h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
 }
 .formContBox p{
    color:#8B48BF;
    font-weight: 300;
    font-size: 15px;
 }
 .formBox{
    margin: 50px 30px;
 }

.formInput{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    gap: 40px;
}
.formInput input, select{
    height: 50px;
    border-radius: 12px;
    border: 2px solid #8B48BF;
    outline: none;
    padding: 5px;
}
.formInput input[type="checkbox"]{
    height: 15px;
}
.formInput label{
    color: white;
    font-weight: 300;
}
.formInput textarea{
    border: 2px solid #8B48BF;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    padding: 6px;
    resize: none;
}
.formCheck{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
    .formCheck #checkmark:checked{
        accent-color: #8B48BF;
    }
    .checkBox{
        display: flex;
        align-items: center;
        gap: 10px;
    }
.row{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.formButton{
    display: flex;
    justify-content: space-evenly;
}

/* Footer */

footer{
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.emailForm{
    padding-top: 50px;
    gap: 10px;
    width: 75%;
}

.emailForm input::placeholder{
    color: rgb(165, 165, 165);
}

.emailForm input{
    border: none;
    border-radius: 20px;
    color:#323851 ;
    font-size: 13px;
    outline: none;
    text-indent: 15px;
    height: 40px;
    width: 70%;
}
.emailForm button{
    background-color:#8C48BF;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 15%;
}

.footerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 20px;
    width: 100%;
}
    .footerNav li{
        list-style: none;
        padding-top: 15px;
    }
    footer li a {
        color: rgb(211, 211, 211); 
        font-size: 16px;
        font-weight: 300;
    }

.socialMediaIcons{
    color:rgb(181, 181, 181) ;
    gap: 50px;
    padding: 50px 0 50px;
}
.socialMediaIcons img{
    width: 20px;
}

.footerLogo img{
    width: 110px;
}

footer .row-center-center p{
    color:rgb(110, 110, 110);
    font-size: 12px;
    font-weight: 700;
    padding: 40px 0;
}

/* Desktop */
@media screen and (min-width: 1024px){

    .checkbtn{
        display: none;
    }
    header{
        padding-left: 150px;
        padding-right: 150px;
    }
        .headerBox button{
            display: block;
        }
        .headerBox img{
            width: 110px;
        }
        .headerLogo{
            margin-left: 0;
        }
button{
    cursor: pointer;
    scale: 1;
    transition: .3s;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .3s;
}
button a{
    color: white;
    display: block;
    padding-top: 10px;
    height: 40px;
    width: 110px;
}
    nav{
        position: initial;
        margin-right: 0;
    }
        nav ul{
            position: initial;
            height: auto;
            transition: none;
        }
            nav ul li{
                display: inline-block;
                padding-top: 0;
                line-height: 0;
                padding-right: 30px;
            }
                nav ul li a{
                    font-size: 17px;
                    transition: .3s;
                }
                nav ul li a:hover{
                    color:#8B48BF;
                    transition: .3s;
                }
.gralButton{
    filter: drop-shadow(0 4px 8px rgba(0,0,0, .2));
}
.mainButton{
    margin-top: 35px;
}
.infoTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
    .infoTitle h2{
        padding: 40px 75px 40px 25px;
        text-align: left;
    }
/* Formulario */

.mainForm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
 }

 .formContBox{
    width: 50vw;
 }

 .formContBox h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
 }
 .formContBox p{
    color:#8B48BF;
    font-weight: 300;
    font-size: 15px;
 }
 .formBox{
    margin: 20px 60px;
 }

.formInput{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-between;
    padding: 20px 10px;
    gap: 0;
}
.formInput input, select{
    height: 50px;
    border-radius: 12px;
    border: 2px solid #8B48BF;
    outline: none;
    padding: 5px;
}
.formInput input[type="checkbox"]{
    height: 15px;
}
.formInput label{
    color: white;
    font-weight: 300;
}
.formInput textarea{
    border: 2px solid #8B48BF;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    padding: 6px;
    resize: none;
}
.formCheck{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
    .formCheck #checkmark:checked{
        accent-color: #8B48BF;
    }
    .checkBox{
        display: flex;
        align-items: center;
        gap: 10px;
    }
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
}

.mainEnd{
    margin: 0;
}
    .endTitle h2{
        font-size: 2vw;
    }

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    padding: 80px 130px 40px;
    gap: 30px;
    justify-content: space-evenly;
}
    .imgBox{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 0;
        order: 1;
        flex-basis:25%;
    }
        .imgBox .footerLogo{
            order: -1;
        }
        .imgBox .socialMediaIcons{
            gap: 20px;
            padding: 0;
        }
    .footerNav{
        flex-basis: 40%;
        padding: 0;
        margin: 0;
        order: 2;
    }
        .footerNav li{
            padding-top: 0;
            padding-bottom: 20px;
        }
    .emailForm{
        align-items: flex-start;
        display: flex;
        gap: 10px;
        flex-basis: 25%;
        padding: 0;
        order: 3;
    }
        .copyRight{
            order: 1;
        }
        .emailBox{
            display: flex;
            gap: 10px;
            width: auto;
        }
            .emailBox input{
                width: 250px;
            }
            .emailBox button{
                width: 60px;
            }
    .copyRight{
        order: 4;
    }

}