@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
}

/* Mobile First */
/* Clases reutilizables */

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Header */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.headerBox {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
.headerLogo{
    margin-left: 40px;
}
.headerBox img{
    width: 80px;
}
  
  nav {
    background: white;
    position: absolute;
    right: 0;
    margin-right: 60px;
    z-index: 1000; }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;}
      nav ul li {
        line-height: 30px;
        padding-top: 40px;}
        nav ul li a {
          font-size: 20px;
          position: relative;
          color: #242E52;
          ; }
          #check:checked ~ ul {
            left: 0; }
.headerBox button{
    display: none;
}
          
  a:link {
    text-decoration: none; }
  
/* Menu Hamburguesa */    
  .checkbtn {
    font-size: 25px;
    color: #242E52;
    float: right;
    line-height: 50px;
    cursor: pointer;
    display: block; }
  
  #check {
    display: none; }
  
  nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2px;
    background: linear-gradient(to right, white, white);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.25, 1); }
  
  nav a:hover::before {
    transform: scaleX(1); }


/* Main Css */
/* Background Image */

.leftBox{
    background-image: url(../img/padel-intro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    height: 50vh;
}

/* Image Information */

.mainTitle h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
    padding-left: 75px;
    text-align: right;
}
    .mainTitle p{
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 0 0 15px;
        text-align: right;
    }

        .gralButton{
            background-color:#8B48BF;
            border: none;
            border-radius: 25px;
            color: white;
            font-size: 15px;
            height: 44px;
            width: 134px;
        }
.mainButton{
    display: flex;
    justify-content: right;
    margin-top: 25px;
}

.mainInfo{
    margin-top: 40px;
    margin-bottom: 60px;
}
.infoTitle{
    background-color: #3CDCF2;
    height: fit-content;
    gap: 30px;
}
    .infoTitle h2{
        color: white;
        font-size: 40px;
        font-weight: 700;
        padding: 40px 75px 0 25px;
    }
    .infoTitle p{
        color: white;
        font-size: 16px;
        padding: 0 30px 40px 25px;
    }

section{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
        margin-top: 60px;
    }

article{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 90%;
}

.artHeader{
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    height: 40px;
    z-index: 1;
}
.artNumb{
    background-color: #8B48BF;
    width:15%;
    height:100%;
    border-radius: 35px;
    position: absolute;
    right: 90%;
    z-index: 3;
}
    .artNumb p{
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

.artTitle{
    background-color: #DDC9EC;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}
    .artTitle p{
        color:#323851;
        font-size: 15px;
        font-weight: 700;
        padding-left: 30px;
    }

.artDescription{
    color: #737376;
    padding-top: 25px;
    padding-right: 15px;
    font-size: 16.5px;
}

.mainTestimony h3{
    color: #242E53;
    font-size: 30px;
    font-weight: 700;
}
.testimonyInfo{
    background-color: #FAFAFA;
    margin: 90px 15px 0 15px;
    position: relative;
    height: fit-content;
    z-index: 1;
}
    .testimonyInfo img{
        position: absolute;
        top: -15%;
        z-index: 2;
    }
    .testimonyInfo h4{
        color: #242E53;
        padding-top: 50px;
        font-weight: 700;
        font-size: 18px;
    }
    .testimonyInfo p{
        color: #737376;
        padding: 25px 25px 40px 25px;
        text-align: center;
    }
    .testimonyButton{
        margin-top: 40px;
    }
.mainEnd{
    background-color: #3CDDF3;
    margin-top: 60px;
    height: fit-content;
}    
    .endTitle{
        padding: 45px 80px 0;
    }
    .mainEnd h2{
        color: white;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
    }
    
.altButton{
    background-color:#232C50;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    height: 44px;
    width: 134px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0, .2));
}

.endButton{
    margin-top: 40px;
    padding-bottom: 45px;
}
 
/* Footer */

footer{
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
} 

.emailForm{
    padding-top: 50px;
    gap: 10px;}

.emailForm input::placeholder{
    color: rgb(165, 165, 165);
}

.emailForm input{
    border: none;
    border-radius: 20px;
    color:#323851 ;
    font-size: 13px;
    outline: none;
    text-indent: 15px;
    height: 40px;
    width: 70%;
}
.emailForm button{
    background-color:#8C48BF;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    height: 40px;
    width: 15%;
}

.footerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 20px;
}
    .footerNav li{
        color: rgb(181, 181, 181);
        list-style: none;
        font-size: 16px;
        font-weight: 300;
        padding-top: 15px;
    }

.socialMediaIcons{
    color:rgb(181, 181, 181) ;
    gap: 50px;
    padding: 50px 0 50px;
}
.socialMediaIcons img{
    width: 20px;
}

.footerLogo img{
    width: 110px;
}

footer .row-center-center p{
    color:rgb(110, 110, 110);
    font-size: 12px;
    font-weight: 700;
    padding: 40px 0;
}

/* Desktop */

@media screen and (min-width: 1024px){

    .checkbtn{
        display: none;
    }
    header{
        padding-left: 120px;
        padding-right: 120px;
    }
        .headerBox button{
            display: block;
        }
.headerLogo{
    margin-left: 0;
}
    nav{
        position: initial;
        margin-right: 0;
    }
        nav ul{
            position: initial;
            height: auto;
            transition: none;
        }
            nav ul li{
                display: inline-block;
                padding-top: 0;
                line-height: 0;
                padding-right: 30px;
            }
                nav ul li a{
                    font-size: 17px;
                }
.gralButton{
    height: 40px;
    width: 110px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0, .2));
}
.mainTopBox{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    justify-content: center;
    height: 65vh;
    width: 100%;
}
.leftBox{
    width: 50%;
}
.rightBox{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.mainTitle h2{
    font-size: 2.9vw;
}
.mainTitle p{
    font-size: 1.3vw;
    padding-left: 15px;
    margin-top: 20px;
}
.infoTitle, .mainEnd{
    background-color: #8C48BF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}
    .endTitle{
        padding: 0;
        flex: 0 0 40%;
    }
    .endButton{
        padding: 0;
        margin: 0;
    }
    .infoTitle h2{
        padding: 40px 20px 40px 130px;
        flex: 0 0 45%;
        font-size: 2.5vw;
    }
    .infoTitle p{
        padding: 40px 50px 40px 20px;
        font-size: 1vw;
        flex: 0 0 30%;
    }

section{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 60px;
    justify-content: center;
    gap: 50px;
}
article{
    flex:0 0 35%;
}
.artHeader{
    justify-content: left;
}
    .artTitle{
        background-color: transparent;
        width: auto;
    }
        .artTitle p{
            padding-left: 70px;
        }

.testimonyInfo{
    width: 30%;
}
.testimonyBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mainEnd{
    background-color:#3CDDF3;
    justify-content: space-between;
    padding: 0 15%;
}
.endTitle h2{
    padding: 80px 0;
    flex: 0 0 45%;
    font-size: 2.5vw;
    text-align: left;
}

}