@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 500;
}

/* Clases reutilizables */

.col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col-center-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-center-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background-color: white;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;}
  
  .header-logo {
    width: 70px;
    min-width: 70px;
    height: 60px;
    margin-left: 2em; }
  
  nav {
    background: white;
    width: fit-content;
    z-index: 1000; }
    nav ul {
      float: right;
      margin-right: 20px; }
      nav ul li {
        display: inline-block;
        line-height: 60px;
        margin: 0 5px; }
        nav ul li a {
          padding: 7px;
          font-size: 13px;
          position: relative;
          color: #242E52;
          ; }
  
  a:link {
    text-decoration: none; }
  
  .checkbtn {
    font-size: 25px;
    color: #242E52;
    float: right;
    line-height: 50px;
    margin-right: 40px;
    cursor: pointer;
    display: none; }
  
  #check {
    display: none; }
  
  nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.2px;
    background: linear-gradient(to right, white, white);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s cubic-bezier(0.42, 0, 0.25, 1); }
  
  nav a:hover::before {
    transform: scaleX(1); }


/* Main Css */
/* Background Image */

.bgImg{
    background-image: url(../img/padel-intro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
    height: 50vh;
}

/* Image Information */

.mainTitle h2{
    font-size: 40px;
    font-weight: 700;
    margin-top: 50px;
    padding: 0 35px 0 75px;
    text-align: right;
}
    .mainTitle p{
        font-size: 18px;
        margin-top: 10px;
        padding: 10px 35px 0 15px;
        text-align: right;
    }

        .gralButton{
            background-color:#8B48BF;
            border: none;
            border-radius: 25px;
            color: white;
            font-size: 15px;
            height: 44px;
            width: 134px;
        }
.mainButton{
    display: flex;
    justify-content: right;
    padding-right: 35px;
    margin-top: 25px;
}

.mainInfo{
    margin-top: 40px;
    margin-bottom: 60px;
}
.infoTitle{
    background-color: #3CDCF2;
    height: fit-content;
    gap: 30px;
}
    .infoTitle h2{
        color: white;
        font-size: 40px;
        font-weight: 700;
        padding: 40px 75px 0 25px;
    }
    .infoTitle p{
        color: white;
        font-size: 16px;
        padding: 0 30px 40px 25px;
    }

section{
        margin-top: 60px;
    }

article{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 40px;
}

.artHeader{
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    height: 40px;
    width: 430px;
    z-index: 1;
}
.artNumb{
    background-color: #8B48BF;
    width:15%;
    height:100%;
    border-radius: 35px;
    position: absolute;
    right: 70%;
    z-index: 3;
}
    .artNumb p{
        color: white;
        font-size: 16px;
        font-weight: 700;
    }

.artTitle{
    background-color: #DDC9EC;
    position: absolute;
    height: 100%;
    width: 75%;
    z-index: 2;
}
    .artTitle p{
        color:#323851;
        font-size: 16px;
        font-weight: 700;
    }

.artDescription{
    color: #737376;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 15px;
    font-size: 16.5px;
}

.mainTestimony h3{
    color: #242E53;
    font-size: 35px;
    font-weight: 700;
}
.testimonyInfo{
    background-color: #FAFAFA;
    margin: 90px 15px 0 15px;
    position: relative;
    height: fit-content;
    z-index: 1;
}
    .testimonyInfo img{
        position: absolute;
        top: -15%;
        z-index: 2;
    }
    .testimonyInfo h4{
        color: #242E53;
        padding-top: 50px;
        font-weight: 700;
        font-size: 18px;
    }
    .testimonyInfo p{
        color: #737376;
        padding: 25px 25px 40px 25px;
        text-align: center;
    }
    .testimonyButton{
        margin-top: 40px;
    }
.mainEnd{
    background-color: #3CDDF3;
    margin-top: 60px;
    height: fit-content;
}    
    .endTitle{
        padding: 45px 80px 0;
    }
    .mainEnd h2{
        color: white;
        font-size: 45px;
        font-weight: 500;
        text-align: center;
    }
    
.altButton{
    background-color:#232C50;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 15px;
    height: 44px;
    width: 134px;
    filter: drop-shadow(0 4px 8px rgba(0,0,0, .2));
}

.endButton{
    margin-top: 40px;
    padding-bottom: 45px;
}
    
    
    @media screen and (max-width: 890px) {
        .checkbtn {
          display: block;}
        ul {
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #181818;
          top: 60px;
          left: -100%;
          text-align: center;
          transition: all .5s; }
          ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px; }
            ul li a {
              font-size: 15px; }
        #check:checked ~ ul {
          left: 0; } }